.btn-success{

    background-color: #456043;

    color: white;

}

.btn-success:hover,

.btn-success:focus{

    background-color: #2f442d;

    color: white;

}

.btn-danger {
    background-color: #780415;
    color: white;
}

.btn-danger:hover,

.btn-danger:focus{

    background-color: #2f442d;

    color: white;

}

.link-success{
    color: #456043;
}