.main_foto {
    max-width: 100%;
    height: auto;
    margin-bottom: 6em;
}

.list_box {
    margin: 0;
    margin-top: 6em;
}

.list {
    padding: 20px;
    border-radius: 0px 4.5em 4.5em 0;
    background: linear-gradient(to right, #bac6bc, 10%, #dde5de);
    width: 75%;
    min-width: 310px;
    margin-bottom: 3em;
}

.site-link {
    color: #42673a;
}

.site-link:hover {
    color: #668c5d;
}
