body {
    background-color: #a5c1a5;
}
.bot-link {
    color: #456043;
}
a.bot-link:hover {
    color: #2f442d;
}

h1,

h2 {
    font-family: "Century gothic";
}
.tel-sft {
    font-family: "Century gothic";
    font-size: 1.5em;
}