{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %}
  <link href="{% static 'contacts.css' %}" rel="stylesheet"/>
  <link href="{% static 'buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
  {% include 'header.html' %}
  <div class="my-5 mx-4 mb-5">
    <h1 class="text-center mb-2">Личный кабинет</h1>
    <img class="w-75 mx-auto d-block" src="{% static 'images/house.png' %}" alt="">
    <div class="container text-start border-top border-bottom border-dark p-2 mt-3">
      <div class="row">
        <div class="col ">
          <h4 class="my-auto">Username:</h4>
        </div>
        <div class="col">
          <h2>{{name}}</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col ">
          <h4 class="my-auto">Имя:</h4>
        </div>
        <div class="col">
          <h2>{{first_name}}</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col ">
          <h4 class="my-auto">Фамилия:</h4>
        </div>
        <div class="col">
          <h2>{{last_name}}</h2>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <h3 class="text-center mb-5"><ins>Текущие записи:</ins></h3>
      {% if cur_recs|length == 0 %}
        <h4 class="text-center">
          У Вас нет текущих записей. Записаться можно <a class="success" href="/schedule">здесь</a>.
        </h4>
      {% else %}
        {% for rec in cur_recs %}
          <form method="POST">{% csrf_token %}
            <div class="row mb-4">
              <div class="col-md-6 text-center my-auto">
                <h4>{{rec.0}} {{rec.1}} {{rec.2}}</h4>
              </div>
              <div class="col-md-6 text-center">
<!--                <button type="submit" name="{{rec.3}}" class="btn btn-danger">Удалить</button>-->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteRecord">
                  Удалить
                </button>

              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="DeleteRecord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title mx-auto" id="staticBackdropLabel">Вы уверены...</h5>
                  </div>
                  <div class="modal-body mx-auto">
                    ...что хотите удалить эту запись?
                  </div>
                  <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                    <button type="submit" name="{{rec.3}}" class="btn btn-danger">Да, удалить</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        {% endfor %}



      {% endif %}
    </div>
    <div class="container mt-5">
      <h3 class="text-center mb-5"><ins>История записей:</ins></h3>
      {% if past_recs|length == 0 %}
        <h4 class="text-center">Пока здесь нет записей.</h4>
      {% else %}
        {% for rec in past_recs %}
          <h4 class="text-center">{{rec.0}} {{rec.1}} {{rec.2}}</h4>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock content %}
