{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %} <link href="{% static 'contacts.css' %}" rel="stylesheet"/> {% endblock css_style %}
{% block content %}
  {% include 'header.html' %}
  <h1 class="my-5 text-center">Контакты для связи с нами</h1>
  <div class="container">

    <div class="row mb-4">
      <div class="col-md-6 order-2 order-md-1">
        <h3 class="text-center mt-3">
          Леша<br>
          <small class="text-muted">10-(какой-то) класс</small>
        </h3>
        <ul class="mt-4 mb-5" type="">
          <li class="fs-4">
            Занимался всем тем, чего не видно, но оно есть)))<br>
            Писал много буков (реально много), чтобы сайт работал работу.
            Так что когда вы, например, регистрируетесь на сайте, делаете тык по кнопке, записываетесь на задачу, и оно
            всё работает, нужно благодарить Лешу и бога ахах) по техническим вопросам писать ему
          </li>
          <li class="mt-3 fs-4">*типа контакты</li>
        </ul>
      </div>
      <div class="col-md-6 order-1 order-md-2 my-auto">
        <img class="w-75 mx-auto d-block" src="{% static 'images/bot_picture.png' %}" alt="">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 my-auto">
        <img class="w-75 mx-auto d-block" src="{% static 'images/var.jpg' %}" alt="">
      </div>
      <div class="col-md-6">
        <h3 class="text-center mt-3">
          Варя<br>
          <small class="text-muted">такой же класс ахах</small>
        </h3>
        <ul class="mt-4" type="">
          <li class="fs-4">
            Большую часть времени занималась тем, что ползала по документациям и гнобила весь свет за то, что все
            приходится читать по-английски. В свободное от данного вида прокрастинации время лениво занималась
            внешним видом сайта, дизайном, палитрой цветов, в общем, делала красивое))) ну ладно, пыталась
            делать красивое ахах<br>
            За графические и орфографические ошибки пинать сюда
          </li>
          <li class="mt-3 fs-4">*типа контакты</li>
        </ul>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-6 order-2 order-md-1">
        <h3 class="text-center mt-3">
          Ольга Алексеевна<br>
          <small class="text-muted">учитель физики</small>
        </h3>
        <ul class="mt-4" type="">
          <li class="fs-4">
            Заказчик сайта и контролёр его качества. Обладает уникальной способностью: может пинать Лешу и Варю за
            косяки) именно от нее поступают основные задачи и тз в общем. Обращаться исключительно от безысходности,
            если предыдущие два персонажа не отвечают)) Зачастую найти можно в 415 кабинете, но если вдруг нет, а
            дело срочное (лол, какое вообще может быть срочное дело по школьному сайту?), контакты ниже
          </li>
          <li class="mt-3 fs-4">*типа контакты</li>
        </ul>
      </div>
      <div class="col-md-6 order-1 order-md-2 my-auto">
        <img class="w-75 mx-auto d-block" src="{% static 'images/bot_picture.png' %}" alt="">
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock content %}