{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %}
  <link href="{% static 'contacts.css' %}" rel="stylesheet"/>
  <link href="{% static 'buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
    <div class="container my-auto p-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="d-block w-100 mx-auto my-auto mb-5" src="{% static 'images/rabbit_404.jpg' %}" alt="">
                <h1 class="mb-5 my-auto">Упс!<br><small class="text-muted">Кажется, что-то пошло не так!..</small></h1>
            </div>
            <div class="text-start col-md-6 fs-4 my-auto">
                <p>Видимо, Вы столкнулись с ошибкой 404, это возможно потому что:</p>
                <ul class="mb-5">
                    <li class="mb-2">Этой страницы не существует</li>
                    <li class="mb-2">Эта страница была удалена</li>
                    <li>Эта страница устарела</li>
                </ul>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <a class="btn btn-success btn-lg" type="button" role="button" href="/main">На главную</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}