{% load static %}
{% block css_style %} <link href="{% static 'header.css' %}" rel="stylesheet"/> {% endblock css_style %}
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #456043;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">
      <img src="{% static 'images/atom.png' %}" width="35" height="30" class="d-inline-block align-text-top">
      Практикум 1514
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto mb-2">
      <li class="nav-item">
        <a href="/schedule/1" class="nav-link">Запись</a>
      </li>
      <li class="nav-item">
        <a href="/test" class="nav-link">Задачи</a>
      </li>
      <li class="nav-item">
        <a href="/telegram_bot" class="nav-link">Telegram bot</a>
      </li>
      <li class="nav-item">
        <a href="/contacts" class="nav-link">Контакты</a>
      </li>
    </ul>
    <div class="d-flex">
      {% if request.user.is_authenticated %}
            <a class="btn btn-outline-light" href="/account" role="button">
              <i class="bi bi-person-circle me-1"></i>{{request.user.first_name}} {{request.user.last_name}} {{request.user.is_authenticate}}
            </a>
            <a href="/logout" class="btn btn-outline-light ms-3" role="button">Выход</a>
      {% else %}
            <a href="/register" class="btn btn-outline-light" role="button">Регистрация</a>
            <a href="/login" class="btn btn-outline-light ms-3" role="button">Войти</a>
      {% endif %}
    </div>
  </div>
  </div>
</nav>
