<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Физический практикум</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="text"><a href="/main">Главная</a></li>
        <li class="text"><a href="/test">Запись</a></li>
        <li class="text"><a href="/test">Задачи</a></li>
        <li class="text"><a href="/main">Другое</a></li>
        <li class="text"><a href="/signup">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>