{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %} <link href="{% static 'new_contacts.css' %}" rel="stylesheet"/> {% endblock css_style %}
{% block content %}
  {% include 'new_header.html' %}
  <section class="my-auto mt-5 mb-5">
    <h1 class="mx-auto">Контакты для связи с нами</h1>

    <div class="container p-4">
      <div class="row mt-2">
        <div class="col-lg-6 order-1 oder-lg-2 my-auto">
          <img src="{% static 'images/boom_parrot.jpg' %}" alt="Лёша" class="d-block w-100 rounded-circle my-auto">
        </div>
        <div class="col-lg-6 p-4 order-2 order-lg-1 my-auto">
          <h2 class="text-center">
            Лёша<br>
            <small class="text-muted">10-6 (М) класс</small>
          </h2>
          <p>
            Backend разработчик... а еще тестировщик, full-stack developer, системный
            аналитик и инженер баз данных в нашей маленькой команде)
            В общем и целом, занимался всем тем, чего не видно: прописывал логику и функционал сайта,
            работал с базами данных, сводил и чистил код.<br>
            Так что когда вы, например, регистрируетесь на сайте, тыкаете по кнопке, записываетесь на задачу, и оно
            всё работает, нужно благодарить за это Лешу) по техническим вопросам писать ему.<br> <br>
            Телеграм: <a href="https://t.me/Alexey_Elaev" class="site-link">ссылка здесь</a> <br>
            Почта: <a href="mailto:a.elaev241206@gmail.com" class="site-link">a.elaev241206@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="row middle">
        <div class="col-lg-6 p-4 order-2 order-lg-1 my-auto">
          <h2 class="text-center">
            Варя<br>
            <small class="text-muted">10-6 (М) класс</small>
          </h2>
          <p>
            Frontend разработчик. А также дизайнер и художник. Занималась
            внешним видом сайта, соответственно, его дизайном, палитрой цветов, анимациями, сочиняла
            и писала тексты, которые ныне вы видите на сайте, как, например, этот)<br>
            За графические и орфографические ошибки писать стоит ей.<br> <br>
            Телеграм: <a href="https://t.me/arist0crab" class="site-link">ссылка здесь</a> <br>
            Почта: <a href="mailto:BondareVarechka@yandex.ru" class="site-link">BondareVarechka@yandex.ru</a>
          </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 my-auto">
          <img src="{% static 'images/parrot_3.jpg' %}" alt="Варя" class="d-block w-100 rounded-circle">
        </div>
      </div>
      <div class="row middle">
        <div class="col-lg-6 order-1 order-lg-1 my-auto">
          <img src="{% static 'images/parrot.jpg' %}" alt="Ольга Алексеевна" class="d-block w-100 rounded-circle">
        </div>
        <div class="col-lg-6 p-4 order-2 order-lg-2 my-auto">
          <h2 class="text-center">
            Ольга Алексеевна<br>
            <small class="text-muted">учитель физики</small>
          </h2>
          <p>
            Ольга Алексеевна и product manager, и project manager. А по совместительству еще и
            заказчик сайта, контролёр его качества) Наставляла и направляла нашу команду разработчиков
            (из двух человек))), выдавала новые тз, формулировала основные цели, бдительно следя за их достижением. <br>
            К Ольге Алексеевне обращаться стоит по вопросам, касающихся самих практикумов, то есть если возникли
            какие-то вопросы по механике, этапам сдачи и т.п.
            Зачастую найти можно в 415 кабинете, но если вдруг её там нет, контакты ниже. <br> <br>
            Телеграм: <a href="https://t.me/olga_dmit" class="site-link">ссылка здесь</a> <br>
            Почта: <a href="mailto:ol.al.dmi@gmail.com" class="site-link">ol.al.dmi@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  {% include 'new_footer.html' %}
{% endblock content %}