{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %} <link href="{% static 'contacts.css' %}" rel="stylesheet"/> {% endblock css_style %}
{% block content %}
  {% include 'header.html' %}
  <div class="row">
    <div class="ms-5 col-md fs-5 mb-3 me-3">
      <h1 class="mt-5 mb-3 text-right">Краткое введение в курс дела</h1>
      Самое первое и самое главное: практикумы сдаются в лаборатории, т.е. в 415 кабинете.<br>Сдаваться можно следующим
      учителям:
      <ul class="mt-3">
        <li>Ольге Алексеевне</li>
        <li>Юрию Аркадьевичу</li>
        <li>Сергею Михайловичу</li>
        <li>Юрию Владимировичу (если Вы уж очень везучий)</li>
      </ul>
      А вот записываться в любом случае нужно на сайте (или у Ольги Алексеевны, если Вы старомодны.
      Здесь ее <a href="http://t.me/olga_dmit">Телеграм</a> и <a href="https://vk.com/olga.dmit">ВКонтакте</a>).<br>
      После того, как Вы записались на практикум, Вам нужно будет пройти четыре этапа для его успешной (или не очень)
      сдачи:
      <ol class="mt-3">
        <li class="mb-3">
          <h4>Подготовка</h4>
          На этом этапе Ваша группа должна прочитать задачу и продумать то, каким образом она будет ее сдавать.<br>
          Что это значит?<br>
          Хороший вопрос: Вы должны продумать, какие измерения Вы будете делать и какие формулы
          использовать для получения ответа.
        </li>
        <li class="mb-3">
          <h4>Допуск</h4>
          Теперь Вы должны продемонстрировать преподавателю Ваше знание теории и план дальнейших действий.
          Когда допуск получен, у Вас есть неделя, чтобы приступить к следующему этапу, иначе допуск "сгорит".
        </li>
        <li class="mb-3">
          <h4>Измерения</h4>
          Как ни странно, здесь Вы проводите нужные Вам измерения.
        </li>
        <li class="mb-3">
          <h4>Сдача</h4>
          На данном этапе Вы объясняете свое решение преподавателю, возможно отвечаете на его вопросы.
          Полученная группой оценка выставляется каждому члену группы с тройным коэффициентом.
        </li>
      </ol>
      <h1 class="mt-5 mb-3 text-right">Теперь о правилах</h1>
      Есть всего 7 основных заповедей:
      <ol class="mt-3">
        <li class="mb-3">
          Перед началом Вашего долгого, но захватывающего пути, рекомендуется ознакомиться с
          <a href="">методичкой</a> по обработке результатов. Звучит скучно, но без нее Вы вряд ли
          получите выше тройки. К тому же, формулы оттуда наизусть знать не обязательно, просто важно понимать,
          что и как нужно измерять и какие источники погрешностей будут в измерениях.
        </li>
        <li class="mb-3">
          Пересчитайте своих товарищей и убедитесь, что в вашей группе для сдачи практикума именно
          три человека (необязательно из одного класса).
          Одна голова - хорошо, но мало, две - уже лучше, но все еще недостаточно, а три - в самый раз.
        </li>
        <li class="mb-3">
          Вам необходимо записаться на сдачу, потому что просто так Вас вряд ли кто-то примет. Записаться можно
          <ol class="mb-2 mt-2">
            <li type="A">на этом сайте (ссылка <a href="/schedule">здесь</a>)</li>
            <li type="A">у Ольги Алексеевны (ее <a href="http://t.me/olga_dmit">Телеграм</a> и
              <a href="https://vk.com/olga.dmit">ВКонтакте</a>))</li>
          </ol>
          Если Вы по каким-то причинам (разумеется, уважительным) не сможете прийти в назначенное время, нужно
          как можно раньше уведомить об этом Ольгу Алексеевну.
        </li>
        <li class="mb-3">
          Необходимо завести тетрадь для практикумов. Тетрадь должен иметь <ins>каждый</ins> пришедший на
          практикум ученик. К этапу допуска в тетради у каждого обязательно должно быть записано (как минимум):
          <ul class="mt-2 mb-2">
            <li type="circle">какие величины измеряются и сколько раз</li>
            <li type="circle">по каким формулам считается ответ</li>
          </ul>
        </li>
        <li class="mb-3">
          Во время допуска проверяется знание базовой теории, понимание сути эксперимента, умение вывести
          расчётные формулы, понимание источников погрешности. Короче говоря, нужно четко представлять себе,
          что и вообще зачем Вы делаете. Пользоваться тетрадью на допуске можно, ура.
          <br>Переходить к измерениям можно только после допуска. В случае неготовности к
          допуску в журнал ставится 2 с единичным коэффициентом. Благо, можно попробовать сдать допуск ещё раз,
          количество попыток не ограничено.
        </li>
        <li class="mb-3">
          Ближе к концу Вашего трудного тернистого пути у вас в тетради должна быть таблица с измеренными значениями.
          Такая таблица заполняется ручкой, только ручкой и ничем, кроме ручки. Наверняка это важно.<br>
          После окончания измерений преподаватель подписывает результаты, т.е.
          фактически оставляет Вам свой автограф.<br>Результаты должны быть записаны в тетради у каждого сдающего.
        </li>
        <li class="mb-3">
          Когда Вы добрались до этапа сдачи, Вам нужно взять с собой ту самую тетрадь с
          рассчитанными результатами. Преподаватель посмотрит в нее и, если останется доволен, попросит Вас
          еще раз вывести базовые формулы. Разумеется, уже без помощи тетради. Поэтому к такому варианту
          развития событий нужно быть готовым. Также нужно быть готовым ответить на теоретические вопросы и
          обсудить недостатки экспериментального метода.<br>
          Для получения оценки выше 3 необходимо оценить погрешности всех полученных значений.
        </li>
      </ol>
      <span style="color: #60041c;"><b>Важный момент:</b></span> оценка выставляется только после сдачи. Если вы сделали допуск и провели измерения, но
      задачу так и не сдали, Вам ставится <ins>двойка</ins>.
    </div>
  </div>
  {% include 'footer.html' %}

{% endblock content %}