{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %} <link href="{% static 'rules.css' %}" rel="stylesheet"/> {% endblock css_style %}
{% block content %}
  {% include 'new_header.html' %}
  <section class="my-auto">
    <h1 class="text-center mt-5 main_h">
      Правила и прочее
    </h1>
  </section>
  <section class="mt-1 fs-5 mb-5 rul_sec">
    <div class="container p-5">
      <div class="row w-75 mx-auto">
        <div class="col-md-6">
          <img src="{% static 'images/symbol.png' %}" alt="восклицательный знак" class="d-block w-50 mx-auto my-auto">
        </div>
        <div class="col-md-6 my-auto">
          <h2 class="text-center my-auto mt-4">
            Этапы сдачи практикумов<br>
            <small class="text-muted fs-4">...или краткое введение в курс дела</small>
          </h2>
        </div>
      </div>
      <div class="row mt-5">
        Самое первое и самое главное: практикумы выполняются и сдаются в лаборатории, т.е. в 415 кабинете.
        А вот записываться в любом случае нужно на этом сайте.<br>
        После того, как Вы записались на практикум, Вам нужно будет пройти четыре этапа для его успешной
        сдачи:
        <ol>
          <li class="mt-3">
            <h4>Подготовка</h4>
            На этом этапе Ваша группа должна прочитать задачу и продумать то, каким образом она будет ее выполнять.<br>
            Что это значит?<br>
            Вы должны продумать, какие измерения Вы будете делать и какие формулы использовать
            для получения ответа.
          </li>
          <li class="mt-3">
            <h4>Допуск</h4>
            Теперь Вы должны продемонстрировать преподавателю Ваше знание теории и план дальнейших действий.
            Когда допуск получен, у Вас есть неделя, чтобы приступить к следующему этапу, иначе допуск "сгорит".
          </li>
          <li class="mt-3">
            <h4>Измерения</h4>
            Здесь Вы проводите нужные Вам измерения.
          </li>
          <li class="mt-3">
            <h4>Сдача</h4>
            На данном этапе Вы объясняете свое решение преподавателю, возможно, отвечаете на его вопросы.
            Полученная группой оценка выставляется каждому члену группы с тройным коэффициентом.
          </li>
        </ol>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 my-auto order-2 order-md-1">
          <h2 class="text-center mt-4">
            Теперь о правилах<br>
            <small class="text-muted">- подробный путеводитель по чудесному миру практикумов</small>
          </h2>
        </div>
        <div class="col-md-6 order-1 order-md-2">
          <img src="{% static 'images/vopros.png' %}" alt="знак вопроса" class="d-block w-50 mx-auto my-auto">
        </div>
      </div>
      <div class="row mt-5">
        Дано 7 основных заповедей:
        <ol class="mt-4">
          <li class="mt-3">
            Перед началом Вашего пути, рекомендуется ознакомиться с
            <a href="{% static 'pdf/metodichka.pdf' %}" class="site-link">методичкой</a> по обработке результатов. Без нее Вы вряд ли получите выше
            тройки. К тому же, формулы оттуда наизусть знать не обязательно, просто важно понимать, что и как
            нужно измерять и какие источники погрешностей будут в измерениях.
          </li>
          <li class="mt-3">Вы можете выполнять практикум как в одиночку, так и с товарищами
            (не обязательно, чтобы все вы были из одного класса). Максимальное количество человек в группе - три.
          </li>
          <li class="mt-3">
            Вам необходимо записаться на выполнение практикума, потому что просто так Вас вряд ли кто-то примет.
            Записаться можно на этом <a href="/schedule/1" class="site-link">сайте</a>.<br>
            Если Вы по каким-то причинам (разумеется, уважительным) не сможете прийти в назначенное время,
            нужно как можно раньше уведомить об этом Ольгу Алексеевну (контакты найдете
            <a href="/contacts" class="site-link">здесь</a>).
          </li>
          <li class="mt-3">
            Необходимо завести тетрадь для практикумов. Тетрадь должен иметь каждый пришедший на практикум
            ученик. К этапу допуска в тетради у каждого обязательно должно быть записано (как минимум):
            <ul class="mt-2">
              <li type="circle">какие величины измеряются и сколько раз;</li>
              <li type="circle">по каким формулам считается ответ.</li>
            </ul>
          </li>
          <li class="mt-3">
            Во время допуска проверяется знание базовой теории, понимание сути эксперимента, умение вывести
            расчётные формулы, понимание источников погрешности. Короче говоря, нужно четко представлять себе,
            что и вообще зачем Вы делаете. Пользоваться тетрадью на допуске можно.
            Переходить к измерениям можно только после допуска. В случае неготовности к допуску в журнал ставится
            2 с единичным коэффициентом. Можно попробовать сдать допуск ещё раз, количество
            попыток не ограничено.
          </li>
          <li class="mt-3">
            Ближе к концу Вашего тернистого пути у вас в тетради должна быть таблица с измеренными
            значениями. Такая таблица заполняется ручкой.<br>
            После окончания измерений преподаватель "подписывает" результаты.<br>
            Результаты должны быть записаны в тетради у каждого сдающего.
          </li>
          <li class="mt-3">
            Когда Вы добрались до этапа сдачи, Вам нужно взять с собой ту самую тетрадь с рассчитанными
            результатами. Преподаватель посмотрит в нее и, если останется доволен, попросит Вас еще раз вывести
            базовые формулы. Разумеется, уже без помощи тетради. Поэтому к такому варианту развития событий нужно
            быть готовым. Также нужно быть готовым ответить на теоретические вопросы и обсудить недостатки
            экспериментального метода.<br>
            Для получения оценки выше 3 необходимо оценить погрешности всех полученных значений.
          </li>
        </ol>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 my-auto mx-auto">
          <img src="{% static 'images/laba_rules.png' %}" alt="правила лаборатории" class="d-block w-75 my-auto mx-auto mb-5">
        </div>
        <div class="col-md-6 my-auto">
          <h2 class="text-center">Правила лаборатории</h2>
        </div>
      </div>
      <div class="row">
        <ol>
          <li class="mt-4">
            Включать и настраивать оборудование имеют право исключительно преподаватель или лаборант.
            Ученикам запрещается включать оборудование.
          </li>
          <li class="mt-3">
            При поломке оборудования следует обратиться к лаборанту, ученикам запрещено пытаться
            самостоятельно устранить неполадки.
          </li>
          <li class="mt-3">
            Демонстрационные приборы может эксплуатировать только лаборант. Если Вы хотите ознакомиться с
            работой прибора, обратитесь к лаборанту.
          </li>
          <li class="mt-3">
            Запрещается наносить ущерб оборудованию и имуществу, находящемуся лаборатории.
          </li>
          <li class="mt-3">
            За несоблюдение вышеуказанных правил лаборант имеет право запретить ученику находиться в
            лаборатории и исключить его участие в практикуме.
          </li>
        </ol>
      </div>
    </div>
  </section>
  {% include 'new_footer.html' %}
{% endblock content %}