{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block css_style %}
    <link href="{% static 'contacts.css' %}" rel="stylesheet"/>
    <link href="{% static 'beautiful_buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
    {% include 'header.html' %}
    {% include 'message.html' %}
    <h2 class="text-center mt-4">Запись на практикум</h2>
    <form method="post">{% csrf_token %}
        {% for field in scheduling_form %}
            <p class="mt-5 mb-5 text-center">

                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}

                {% if form.non_field_errors %}
                    <div style="color:red;">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                {% endif %}
            </p>
        {% endfor %}
        <button class="ms-5 mb-5" type="submit">Готово</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        var disableDates = "{{prohibited_days}}";
        var date = new Date();
        date.setDate(date.getDate() + 1);
        function htmlDecode(str) {
            const doc = new DOMParser().parseFromString(str, "text/html");
            return doc.documentElement.textContent;
        };
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: date,
            daysOfWeekDisabled: [0, 6],
            language: 'ru',
            beforeShowDay: function(date){
                dmy = date.getFullYear() + "-" + ('0'+(date.getMonth() + 1)).slice(-2) + "-" + ('0'+(date.getDate())).slice(-2);
                cleanedDates = htmlDecode(disableDates);
                if(cleanedDates.indexOf(dmy) != -1){
                    return false;
                }
                else{
                    return true;
                }
            }
        });
        $('#id_user').select2({
            ajax: {
                url: '{% url 'schedule/3' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            console.log({id: item.id, username: item.username});
                            return {id: item.id, text: item.username};
                        })
                    };
                }
            },
            multiple: true,
            maximumSelectionLength: 2,
            minimumInputLength: 1
        });
    </script>
    {% include 'footer.html' %}
    <input type="text"  name="date" class="datepicker form-control" autocomplete="off">
{% endblock content %}