{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block css_style %}
    <link href="{% static 'standard.css' %}" rel="stylesheet"/>
    <link href="{% static 'buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
    {% include 'header.html' %}
<form class="my-auto" method="post" autocomplete="off">{% csrf_token %}
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 my-auto">
                <h1 class="text-center mt-3 align-text-top">Запись на практикум</h1>

                {% for field in scheduling_form %}
                    <div class="mt-5 mb-4 text-center">
                        <div class="container">
                            <span class="fs-4">{{ field.label_tag }}</span><br>
                            {{ field }}
                        </div>

                        {% if field.help_text %}
                            <small style="color: grey;">{{field.help_text}}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div style="color:red;">
                                <p>{{form.non_field_errors}}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
            <div class="col-md-6 text-center">
                <img class="d-block mx-auto my-auto rounded-5 w-75 mt-4" src="{% static 'images/green_time.png' %}" alt="время, вперед!">
                <div class="mt-5 mb-4">
                    <button class="btn btn-success btn-lg me-4 text-center mx-auto" type="submit">Дальше</button>
                    <a role="button" class="btn btn-danger btn-lg" href="{{ href }}">Назад</a>
                </div>
            </div>
        </div>

    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        var disableDates = "{{prohibited_days}}";
        var date = new Date();
        date.setDate(date.getDate() + 1);
        function htmlDecode(str) {
            const doc = new DOMParser().parseFromString(str, "text/html");
            return doc.documentElement.textContent;
        };
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: date,
            daysOfWeekDisabled: [0, 6],
            language: 'ru',
            beforeShowDay: function(date){
                dmy = date.getFullYear() + "-" + ('0'+(date.getMonth() + 1)).slice(-2) + "-" + ('0'+(date.getDate())).slice(-2);
                cleanedDates = htmlDecode(disableDates);
                if(cleanedDates.indexOf(dmy) != -1){
                    return false;
                }
                else{
                    return true;
                }
            }
        });
        $('#id_user').select2({
            ajax: {
                url: '{% url 'schedule/3' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.username};
                        })
                    };
                }
            },
            multiple: true,
            maximumSelectionLength: 2,
            minimumInputLength: 1
        });
    </script>

    {% include 'footer.html' %}
{% endblock content %}
