{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block css_style %}
    <link href="{% static 'contacts.css' %}" rel="stylesheet"/>
    <link href="{% static 'beautiful_buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
    {% include 'header.html' %}
    {% include 'message.html' %}
    <h2 class="text-center mt-4">Запись на практикум</h2>
    <form method="post">{% csrf_token %}
        {% for field in scheduling_form %}
            <p class="mt-5 mb-5 text-center">

                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}

                {% if form.non_field_errors %}
                    <div style="color:red;">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                {% endif %}
            </p>
        {% endfor %}
        <button class="ms-5 mb-5" type="submit">Готово</button>
    </form>
    <script type="text/javascript">
        var disableDates = ["9-11-2022", "14-11-2022", "15-11-2022","27-12-2022"];
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            beforeShowDay: function(date){
                dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                if(disableDates.indexOf(dmy) != -1){
                    return false;
                }
                else{
                    return true;
                }
            }
        });
    </script>
    {% include 'footer.html' %}
{% endblock content %}