{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %} <link href="{% static 'standard.css' %}" rel="stylesheet"/>{% endblock css_style %}
{% block content %}
  {% include 'header.html' %}
  <div class="my-auto">
    <h2 class="mt-5 mb-5 text-center"><ins>Ближайшие записи:</ins></h2>
    <div class="container mb-5">
      <table class="table table-bordered border-dark align-middle">
        <thead class="">
          <tr>
            <th scope="col">День недели</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Задача</th>
            <th scope="col">Имя</th>
            <th scope="col">Дополнительная информация</th>
          </tr>
        </thead>
        <tbody>
          {% for rec in records %}
            {% if rec.4 in used %}
              <tr class="table-active">
                <th scope="row">{{ rec.4 }}</th>
                <td>{{ rec.2 }}</td>
                <td>{{ rec.3 }}</td>

              </tr>
            {% else %}
              <tr>
                <th scope="row">{{ rec.4 }}</th>
                <td colspan="5">---</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock content %}