{% extends 'base.html' %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<h2>Register</h2>
{% include 'icons.html' %}
<form method="post">{% csrf_token %}
    {% for field in registration_form %}
        <div>
            <p>
                {{ field.label_tag }}
                {{ field }}
            </p>
            <p>
                {% if field.help_text %}
                    <small style="color: grey;">{{field.help_text}}</small>
                {% endif %}
            </p>
            {% for error in field.errors %}
                    <small style="color: red;">{{error}}</small>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Register</button>
</form>
{% endblock content %}
