{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %}
{% block css_style %}
  <link href="{% static 'contacts.css' %}" rel="stylesheet"/>
  <link href="{% static 'beautiful_buttons.css' %}" rel="stylesheet"/>
{% endblock css_style %}
{% block content %}
  {% include 'header.html' %}
  <h1 class="text-center mt-4">Задачи</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4 mb-4">
        <h3 class="text-center mb-4">Задачи для 9 классов</h3>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% static 'pdf/the_brotherhood_and_the_ring.pdf' %}" class="btn btn-success mb-3" role="button">Братство и кольцо</a>
            <a href="{% static 'pdf/two_rams.pdf' %}" class="btn btn-success" role="button">Два барана</a>
          </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center mb-4 mt-4">Задачи для 10 классов</h3>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% static 'pdf/purple_box.pdf' %}" class="btn btn-success mb-3" role="button">Фиолетовый ящик</a>
            <a href="{% static 'pdf/in_the_bank.pdf' %}" class="btn btn-success" role="button">В банке</a>
          </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock content %}
