body {
    background-color: #d9e2d8;
}

.btn-success{
    min-width: 6em;
    background-color: #667C65;
    color: white;
    padding: 0.5em;
    border-radius: 0.7em;
    border: 0.2em solid #495949;
}

.btn-success:hover,

.btn-success:focus{
    border: 0.2em solid #667C65;
    background-color: #495949;
    color: white;
}

.btn-danger {
    min-width: 6em;
    background-color: #A75050;
    color: white;
    padding: 0.5em;
    border-radius: 0.7em;
    border: 0.2em solid #923434;
}

.btn-danger:focus,

.btn-danger:hover {
    background-color: #923434;
    border: 0.2em solid #A75050;
}

.img_with_alert {
    width: 80%;
}

div .alert {
    border-radius: 3em;
    border: 0.35em solid #a75050;
    background-color: #E0D7D7;
    width: 80%;
}

.error_p {
    color: #a75050;
    font-size: 1em;
    padding: 0.5em;
}

.special-link {
    color: #415F79;
}

.special-link:hover {
    color: #2D3B51;
}
